[submodule "tools/Glitch"]
	path = tools/Glitch
	url = https://github.com/DadTraining/Glitch.git
[submodule "tools/AuroraGT"]
	path = tools/AuroraGT
	url = https://github.com/DadTraining/AuroraGT.git
